tensorflow==2.9.*
tensorflow-gpu==2.9.*
tensorflow_hub==0.12.*
numpy>=1.20
tqdm==4.*
matplotlib==3.5.*
pillow>=6.2.0
kaggle
httpx
pydot==1.4.*
tf2onnx==1.12.*
tensorboard-plugin-profile==2.8.*
pyroexr==0.2.*
moviepy==1.0.*